<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="LOGIN PAGE" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
</head>

<body>

    <!-- <script src="javascripts/login.js"></script> -->

    <header>
        <h1>Logged in to your account!</h1>
    </header>

    <hr>

    <main>
        Your account details:
        <p>
            Email: <%= email %>
        </p>
        <p>
            Password: <%= password %>
        </p>
    </main>

    <hr>

    <footer>
        <p>
            Want to use another account? <a href="login">Login here</a>
        </p>
        <p>
            Want to create a new account? <a href="create">Create one here</a>
        </p>
    </footer>

</body>

</html>